/* Global Styles */
body, * {
  margin: 0;
  padding: 0;
}
section {
  height: 100vh;
}
li {
  list-style-type: none;
  padding: .5vh 0;
}
a {
  text-decoration: none;
}
a:hover {
  color: #00c9db !important;
}
.btn {
  text-align: center;
  padding: 10px 30px;
  margin: 0 .75vw;
  border-radius: 30px;
  text-transform: uppercase;
  font-size: 1.75vw;
  color: #fff;
  background: linear-gradient(to right, #00c9db 0%, #0099d6 100%);
  box-shadow: none;
}
.btn:hover {
  cursor: pointer;
}
.logo {
  background-image: url(/static/media/master_logo.05281676.png);
  background-repeat: no-repeat;
  position: relative;
  top: 10vh;
  left: 0vw;
  height: 10vh;
  width: 18vw;
  margin-bottom: -10vh;
}
h1, h2 {
  letter-spacing: 3px;
  font-family: 'Righteous', cursive;
  text-transform: uppercase;
}

// Fonts
@import url('https://fonts.googleapis.com/css?family=Righteous');
// BUTTON ON-FOCUS ANIMATION
@-webkit-keyframes color-change-2x{0%{background:#19dcea}100%{background:#b22cff}}@keyframes color-change-2x{0%{background:#19dcea}100%{background:#b22cff}};

/* Nav Styles */

.hamburger {
  position: absolute;
  right: 5vw;
  top: 5vh;
  color: #fff;
  z-index: 2;
  font-size: 3vw;
  display: none;
}
.navMenu {
  position: absolute;
  top: 0;
  right: 0;
  background: #fff;
  height: 50%;
  width: 25%;
  border-radius: 6px;
  opacity: .75;
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  align-items: center;
  a {
    font-size: 2.5vw;
    font-family: 'Righteous', cursive;
    color: #00c9db;
  }
  a:hover {
    color: #000 !important;
    font-size: 3.5vw;
    transition: 1s;
  }
}

/* Carousel Section Styles */

.carousel {
  height: 100vh;
  background: teal;
  .slider {
    display: flex;
    flex-wrap: nowrap;
    overflow: hidden;
    height: 100%;
    .logo {
      position: absolute;
      top: 5vh;
      left: 2.5vw;
      z-index: 2;
      background-repeat: no-repeat;
    }
    .slide {
      position: absolute;
      left: 0;
      width: 100%;
      opacity: 0;
      z-index: 1;
    }
    .slide1, .slide2, .slide3 {
      height: 100%;
      width: 100%;
      .overlay {
        position: absolute;
        width: 100%;
        height: 100%;
        z-index: 1;
        background: rgb(11,1,0);
        background: linear-gradient(90deg, rgba(0,0,0,1) 22%, rgba(255,255,255,0) 100%);
        opacity: .7;
      }
      h1 {
        position: relative;
        top: 35vh;
        left: 10vw;
        color: #fff;
        font-size: 4vw;
        z-index: 2;
      }
      p {
        position: relative;
        top: 35vh;
        left: 10vw;
        color: #fff;
        font-size: 1.5vw;
        z-index: 2;
      }
      button {
        position: relative;
        top: 40vh;
        left: 10vw;
        z-index: 2;
      }
    }
    .slide1 {
      background-image: url('./images/slide1.png');
      background-size: cover;
      // background-repeat: no-repeat;
      background-position-x: 100%;
    }
    .slide2 {
      background-image: url('./images/slide2.png');
      background-size: cover;
      background-repeat: no-repeat;
    }
    .slide3 {
      background-image: url('./images/slide3.png');
      background-size: cover;
      background-repeat: no-repeat;
    }
  }
}

/* Game Section Styles */

.games {
  background: slategrey;
  .list-row {
    height: 50%;
  }
  .list-row-top {
    background: tomato;
  }
  .list-row-bottom {
    background: indigo;
  }
}
.search-link {
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: #47667b;
  background-image: linear-gradient(135deg, #47667b 0%, #1e283c 65%, #000000 100%);
  h2 {
    position: relative;
    top: 5vh;
    text-align: center;
    color: #fff;
    font-size: 4vw;
    &:after {
      content: "";
      display: block;
      margin: 2vh auto;
      height: .5vh;
      width: 15vw;
      background: #00c9db;
    }
  }
  .searchBtn {
    position: relative;
    top: 10vh;
  }
}

.game-list {
  display: flex;
  flex-direction: row;
  .game {
    height: 50vh;
    width: 25vw;
  }
}

.card1 {
  background-image: url('./images/apex-legends.png');
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
}
.card2 {
  background-image: url('./images/battlefieldV.jpg');
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
}
.card3 {
  background-image: url('./images/rainbowsix.jpg');
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
}
.card4 {
  background-image: url('./images/fortnite.jpg');
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
}
.card5 {
  background-image: url('./images/overwatch.jpg');
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
}
.card6 {
  background-image: url('./images/league.jpg');
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
}
.card7 {
  background-image: url('./images/cs-go.jpg');
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
}


/* Rates Section Styles */

.rates {
  height: 145vh;
  text-align: center;
  background-image: url('./images/background.jpg');
  background-size: cover;
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-position: 20%;
  .title {
    position: relative;
    top: 8vh;
    font-size: 4.25vw;
    color: #fff;
    text-align: center;
    &:after {
      content: "";
      display: block;
      margin: 2vh auto;
      height: .5vh;
      width: 20vw;
      background: #00c9db;
    }
  }
  .location-rate, .prices {
    position: relative;
    display: flex;
    justify-content: center;
  }
  .location-rate {
    top: 12vh;
  }
  .prices {
    top: 15vh;
    display: flex;
    flex-direction: row;
  }
}
.current {
  -webkit-animation: color-change-2x 2s linear infinite alternate both;
	animation: color-change-2x 2s linear infinite alternate both;
}
.active {
  visibility: visible;
}
.inActive {
  display: none;
}

.reveal {
  visibility: visible;
}
.hide {
  display: none !important;
}

  /* PriceInfo Section Styles */

  .price-info {
    position: relative;
    height: 90vh;
    top: 30vh;
    .price-wrapper {
      // height: 100%;
      position: relative;
      top: -8vh;
      width: 95%;
      padding: 0 2.5%;
      display: flex;
      flex-direction: row;
      justify-content: space-evenly;
    }
    .card {
      display: flex;
      flex-direction: column;
      flex-basis: 100%;
      align-items: center;
      align-self: center;
      height: auto;
      max-height: 75%;
      background: #f2f5fa;
      opacity: .95;
      border-radius: 8px;
      // border: 1px solid black;
      padding: 6% 5%;
      margin: 2.5vw;
      h3 {
        color: black;
        font-size: 4vw;
        margin-bottom: 2.5vh;
        width: max-content;
      }
      p {
        margin: 2vh 0;
        font-size: 1.5vw;
      }
      hr {
        color: lightgrey;
        width: 55%;
      }
      .cost {
        width: max-content;
        margin-bottom: 2.5vh;
        opacity: .5;
        font-size: 4vw
      }
    }
    .descriptor {
      justify-content: center;
      margin: -2.5vw;
      border: 4px solid #00c9db;
      background: #fff;
      max-height: 70%;
      // padding: 5vh 0;
        p {
        font-size: 2.5vw;
      }
    }
  }

  /* End PriceInfo Styles */

/* Contact Section Styles */

.contact {
  background-color: #47667b;
  background-image: linear-gradient(135deg, #47667b 0%, #1e283c 65%, #000000 100%);
  display: flex;
  flex-direction: row;
  justify-content: center;
  .contact-info, .reservations {
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  .contact-info {
    width: 55%;
    padding: 0 2.5vw;
    position: relative;
    top: 10vh;
    margin-bottom: 10vh;
    color: #fff;
    h2 {
      width: max-content;
      font-size: 3.5vw;
      padding-bottom: 5vh;
    }
    p {
      text-align: justify;
      font-size: 2vw;
    }
    .features {
      display: flex;
      padding-top: 2.5vh;
      i {
        position: relative;
        top: 1.5vh;
        left: 1.5vw;
        font-size: 3vw;
      }
      p {
        padding: 0 2.75vw;
      }
    }
    .numbers {
      position: relative;
      top: 5vh;
      text-align: center;
      .number {
        color: #00c9db;
      }
      h3, li {
        font-size: 2vw;
        padding: .5vh 0;
      }
    }
  }
  .form-wrapper {
    width: 35%;
    display: flex;
    flex-direction: column;
    align-items: center;
    form {
      display: flex;
      flex-direction: column;
      align-items: center;
      position: relative;
      top: -6vh;
      padding-bottom: 2.5vh;
      .input-field {
        text-align: center;
        position: relative;
        top: -2vh;
      }
    }
    h2 {
      position: relative;
      width: 100%;
      text-align: center;
      top: -4vh;
      background: linear-gradient(to right, #00c9db 0%, #0099d6 100%);
      padding: 2.5vh 0;
      border-top-left-radius: 2.5vw;
      border-top-right-radius: 2.5vw;
      font-size: 2.5vw;
    }
    input, textarea {
      border: 1px solid #ababab;
      border-radius: .5vw;
      padding: 1.5vh .5vw;;
      margin: 2vh 0;
      width: 75%;
      &::placeholder {
        color: grey;
        font-size: 2vw;
        margin-left: 1.5vw;
      }
    }
    .submitBtn {
      color: #fff;
    }
  }
}

/* Form specific styles */

#contact-form {
  border: none;
  border-bottom-right-radius: 2.5vw;
  border-bottom-left-radius: 2.5vw;
  background: #fff;
  width: 75%;
}
#submit {
  width: 65%;
  margin: 1.5vh 0;
  padding: 2vh;
}

/* End form specific styles */

/* Location Section Styles */

.location-wrapper {
  // background: firebrick;
  height: 100%;
  display: flex;
  flex-direction: row;
  .location-map {
    height: 100%;
  }
  .location-info {
    width: 35%;
    display: flex;
    flex-direction: column;
    align-items: center;
    background-image: url('./images/contacts.jpg');
    background-size: cover;
    color: #fff;
    .locations {
      display: flex;
      flex-direction: column;
      position: relative;
      top: 35vh;
      .tempeBtn, .phoenixBtn {
        margin: 1.5vh 0;
      }
    }
    .address {
      position: relative;
      top: 37vh;
      text-align: center;
      li {
        font-size: 2vw;
      }
    }
    .socialBar {
      position: relative;
      top: 40vh;
      a {
        padding: 0 1.5vw;
        font-size: 2.5vw;
        color: #fff;
      }
    }
  }
  .location-map {
    background: indigo;
    width: 65%;
    .map {
      height: 100%;
      width: 100%;
      iframe {
        height: 100%;
        width: 100%;
      }
    }
  }
}

/* Footer Section */

footer {
  height: 5vh;
  background: #000;
  position: relative;
  top: 0vh;
  text-align: center;
  span {
    position: relative;
    top: 1vh;
    color: #fff;
  }
}

/* Media-queries Section */

@media (max-width: 991.98px) {
  .rates {
    height: 125vh;
    .price-info {
      top: 32vh;
      height: auto;
    }
  }

  .contact {
    .contact-info {
      width: 45%;
    }
    .form-wrapper {
      width: 50%;
      form {
        top: -5vh;
      }
    }
  }
}

@media (max-width: 767.98px) {
  .games {
    display: flex;
    flex-direction: row;
    height: auto;
    background: slategrey;
    .list-row {
      height: 100%;
      width: 50%;
    }
    .list-row-top {
      background: indigo;
    }
    .list-row-bottom {
      background: tomato;
    }
  }

  .game-list {
    display: flex;
    flex-direction: column;
    .game {
      height: 50vh;
      width: auto;
    }
  }

  .rates {
    height: 105vh;
    .price-info {
      top: 30vh;
    }
  }

  .contact {
    height: auto;
    flex-direction: column;
    justify-content: center;
    .contact-info, .contact-form {
      top: 5vh;
      width: auto;
    }
    .form-wrapper {
      width: auto;
      form {
        top: -5vh;
      }
      #contact-form {
        height: 40vh;
        .input-field {
          text-align: center;
          position: relative;
          top: -2vh;
          height: 50%;
          width: 50%;
          left: -15vw;
          display: flex;
          flex-wrap: wrap;
          flex-direction: row;
          justify-content: center;
        }
        #submit {
          position: relative;
          top: 3.5vh;
        }
      }
      textarea {
        position: relative;
        left: 32vw;
        top: -27.25vh;
        padding-bottom: 4vh;
      }
    }
  }
}

@media (max-width: 575.98px) {
  .games {
    flex-direction: column;
    .list-row {
      height: auto;
      width: 100%;
    }
  }

  .rates {
    height: 135vh;
    .price-wrapper {
      flex-direction: column;
      .card {
        width: 55%;
        padding: 2%;
        order: 2;
      }
      .descriptor {
        order: 1;
        margin-bottom: 4%;
      }
    }
  }


    .submitBtn {
      top: 5vh !important;
    }


  .location-wrapper {
    flex-direction: column;
    height: 100vh;
    .location-info, .location-map {
      width: 100%;
    }
    .location-info {
      height: 25%;
      .locations, .address, .socialBar {
        top: 2vh;
      }
      .locations {
        flex-direction: row;
        button {
          margin: 1.5vw !important;
        }
      }
    }
    .location-map {
      height: 75%;
    }
  }
}
